# Dependencias
node_modules/
build/

# Entorno y secretos
.env
.env.local

# Flutter/Dart
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/.symlinks/

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.iml
*.apk
